body {
	background: #AB7A49;
}

.uneaten {
  padding: 5px;
  margin: 5px;
  background: #fce010;
}

.eaten {
  padding: 5px;
  margin: 5px;
  background: #8B4513;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: darkgreen;
}

.form-group {
  margin-bottom: 5px;
}

#image {
	padding: 50px 50px 50px 50px;
	background: url(../img/burger.png);
}

#footer {
	padding: 50px 50px 50px 50px;
	background: url(../img/burger.png);
}

#footer {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}